scipy==1.5.4
Flask==1.0.2
matplotlib==3.3.3
plotly==4.14.2
numpy==1.19.5
statsmodels==0.10.2
seaborn==0.11.1
pandas==1.1.5
dash==1.19.0
dash_core_components==1.15.0
dash_html_components==1.1.2
scikit_learn==0.24.1
